  <%- include('../partials/boilerplate.ejs') %>
  <body>
    <h1 id="logo">BEAT<br />SYNC</h1>
    <p id="success"><% if(message) { %><%= message %><% } %></p>
    <div id="venue-list">
      <% if(user && user.isCreator === true) { %>
        <a class="on-screen-buttons" href="/venues/new">ADD A VENUE</a>
        <% } else { %>
          <% if(user && user.isCreator === true) { %>
            <a class="on-screen-buttons" href="/venues/new">ADD A VENUE</a>
            <% } %>
            <% } %>
            <% if (venues.length > 0) { %>
              <ul>
                <% venues.forEach(venue => { %>
                  <li class="venue-list">
                    <% if(venue.logo) {%>
                      <a id="venue" href="/venues/<%=venue._id%>"><%= venue.name %><br/><br/><img id="small-logo" src="<%= venue.logo %>"></a> 
                      <% } else {  %>
                        <a id="venue" href="/venues/<%=venue._id%>"><%= venue.name %><br/></a>
                        <% } %>
                      </li>
                      <br />
                      <% }) %>
                      <% } else { %>
                      <p>No venues have been made yet.</p>
                      <% } %>
        </ul>
            </div>
  </body>
</html>
