  <%- include('../partials/boilerplate.ejs') %>
  <body>
    <div id="venue-info">
    <h1 class="title"><%= venue.name %></h1>
    <img src="/<%= venue.logo %>" alt="<%= venue.name %>'s logo" id="venue-logo" />
    <h3><%= venue.location %></h3>
    <h3><%= venue.description %></h3>
    <span><%=  %></span>
  </div>
    <% if (user && user.isOrganiser === true) { %>
     <a class="on-screen-buttons" href="/venues/<%= venue._id %>/edit">EDIT DETAILS</a>
    <% } %>
    <% if (user) { %>
     <a class="on-screen-buttons" href="/venues/<%= venue._id %>/feedback">GIVE FEEDBACK</a>
    <% } %>
    <a class="on-screen-buttons" href="/venues">BACK</a>
  </body>
  <h1 class="title">Ratings:</h1>
  <p id="success"><% if(message) { %><%= message %><% } %></p>
  <div id="feedback-container">
  <% venue.feedback.forEach(rating => { %>
   <p class="feedback-box">
    <strong><%= rating.user.username %></strong>
    <small><%= new Date(rating.createdAt).toDateString() %></small>
    <br/>
    Toilets: <%= rating.toilet %> ★<br/>
    Smoking Area: <%= rating.smokeArea %> ★<br/>
    Security: <%= rating.security %> ★<br/>
    Sound-System: <%= rating.soundSystem %> ★<br/>
    Bar Prices: <%= rating.barPrices %> ★<br/>
  </p>
  <% }) %>
</div>
  
</html>
